#glavnijumbotron{
    padding-top:0px;
    padding-bottom:10px;
    margin-bottom:0px;
    text-align:center;
    background-color: beige;
}

.sticky {
  position: fixed;
  top: 0;

}
body{
      background-attachment: fixed;
      background-repeat: no-repeat; 
}

#dugme{
    width: 137px;
}

#jumb{
    background-color: rgba(255,255,255,0.7);
}

#slikakorpa{
    width: 80px;
    
    
}

#slikakorpa:hover{
   filter: invert(15%);

}

.slikacont{
    position: relative;
    text-align: center; 
    
}
.centriran{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
}
.centriran h1{
    
        color:white ;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}
.centriran p{
    
        color:white ;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    
}
.doledesno{
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.doledesno h3{
           color:white ;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
 
}
.doledesno p{
           color:white ;text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
 
}

#slikaforma:hover,#slikaforma2:hover,#slikaforma3:hover,#slikaforma4:hover{
    filter:blur(3px);
    -webkit-filter: blur(3px);
}

#slika:hover{
  filter:blur(2px);
    -webkit-filter: blur(2px);  
}
.table-wrapper-scroll-y{
    display: block;
    max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
