#glavnijumbotron{
    padding-top:0px;
    padding-bottom:10px;
    margin-bottom:0px;
    text-align:center;
    background-color: beige;
}

.sticky {
  position: fixed;
  top: 0;

}
body{
      background-attachment: fixed;
      background-repeat: no-repeat; 
}

#dugme{
    width: 25%;
}

#jumb{
    background-color: rgba(255,255,255,0.7);
}


